body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff; 
  color: #000; 
}

header {
  background-color: #000;
  color: #fff;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}

.header-content {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.search-bar input {
  padding: 0.5em;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-bar button {
  padding: 0.5em 1em;
  background-color: #fcd116; 
  color: #000; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logo img {
  width: 180px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #000; 
}

nav li {
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px; 
  display: inline-block;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #fcd116; 
}

.breadcrumbs {
  font-family: 'Arial', sans-serif;
  margin: 10px 0; /* Añade margen para separar del resto del contenido */
}

.breadcrumbs a {
  text-decoration: none;
  color: #000000;
  margin-right: 5px;
  font-weight: bold; /* Puedes ajustar el grosor del texto según tu preferencia */
  transition: color 0.3s ease; /* Efecto de transición para cambiar el color al pasar el ratón */
}

.breadcrumbs a:hover {
  color: #fcd116; /* Cambia el color al pasar el ratón */
}

/* Agrega un separador visual entre los elementos de las migas de pan */
.breadcrumbs span.separator {
  margin: 0 5px;
  color: #777777; /* Puedes ajustar el color según tu preferencia */
}

#member-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.member-info {
  text-align: center;
  margin: 10px;
  padding: 20px;
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.member-info .circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 10px;
}

.member-info img {
  width: 100%;
  border-radius: 50%;
}

.member-info h3 {
  color: #fff;
  margin: 10px 0;
}

.member-info p {
  color: #ecf0f1;
}